/*
  cream: #fffff7
  tan: #d4c9b9
  dark gray: #201f22
  rose: #a05249
  medium brown: #715143
  dark brown: #4e3831
*/

body, html, .container {
  width: 100%;
  height: 100%;
  background-color: #fffff7;
  /* color: #201f22; */
  color: #4e3831;
}

.error {
  color: red;
}