/* .branding a, .branding a:visited, .nav-link a, .nav-link a:visited {
  color: #fafafa;
}

.branding a:hover, .nav-link a:hover {
  text-decoration: none;
} */

.content-container {
  margin: 0 10px;
}