.chart-active {
    background-color: #ddd;
}

.chords-row {
    border: 2px black solid;
}

.chord {
    font-weight: bolder;
    min-height: 3em;
}

.lyric {
    min-height: 1em;
    margin: 2px 0;
}

.lyrics-row {
    margin-bottom: 2em;
}

/* hide angular sections until angular has loaded */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], 
    .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* for angular ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
