.chart-active {
    background-color: #ddd;
}

.measure-row {
    /*border: 2px black solid;*/
    min-height: 5em;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.measure {
    min-height: 5em;
    margin-bottom: 5px;
}

.chord {
    font-weight: bolder;
    border: 1px black solid;
    min-height: 3em;
}

.lyric {
    min-height: 1em;
    margin: 2px 0;
}

.lyrics-row {
    margin-bottom: 2em;
}

/* hide angular sections until angular has loaded */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], 
    .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* for angular ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
