.chords-row {
    border: 2px black solid;
}

.chord {
    font-weight: bolder;
    border-right: 1px #999 dotted;
    border-left: 1px #999 dotted;
    min-height: 3em;
}

.lyrics-row {
    margin-bottom: 2em;
}
/* for angular ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
