{% extends 'base.html' %}

{% block head %}
    <title>Box Charter: Edit Chart</title>
    <link rel="stylesheet" href="../static/css/charteditor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.12/css/xeditable.css">
{% endblock %}


{% block content %}
{% raw %}
<div ng-app="boxcharts" ng-controller="ChartEditController" id="chart_content" class="hide-on-load">
    <h1>
        <a href="#" editable-text="chart.title">
            {{ chart.title || 'chart title' }}
        </a>
    </h1>

    Chart saved? {{ chart_saved }}

    <div id="chart_body">

    <span ng-repeat="section in sections">
        <div class="row" id="{{ section.section_name }}_metadata">
            <div class="col-xs-12">
                <h2 class="section_title">
                    <a href="#" editable-text="section.section_name">
                        {{ section.section_name || 'section name' }}
                    </a>
                </h2>
                <p class="section_desc">
                    <a href="#" editable-text="section.section_desc">
                        {{ section.section_desc || 'section description' }}
                    </a>
                </p>
            </div>
         </div>
        <div class="row" id="{{ section.section_name }}_measures">
            <span ng-repeat="measure in section.measures">
                <div 
                    id="meas_{{ section.section_id }}.{{ measure.measure_id }}" 
                    class="measure col-xs-{{ 12 / section.measure_width }}">
                    <div class="row chords-row">
                        <span ng-repeat="i in getNumber(section.beat_count) track by $index">
                            <div 
                                class="chord col-xs-{{ 12 / section.beat_count }} text-center chart-editable"
                                uib-popover="hi"
                                popover-title="Edit Chord"
                                >
                                {{ measure.chords[$index] }}

                            </div>
                        </span>
                    </div>
                    <div class="row lyrics-row">
                        <span ng-repeat="i in getNumber(section.verse_count) track by $index">
                            <div class="lyric col-xs-12 chart-editable">
                                {{ measure.lyrics[$index] }}
                            </div>
                        </span>
                    </div>
                </div>
            </span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button id="add_measure_{{ section.section_id }}" 
                    class="btn default-btn"
                    ng-click="createNewMeasure(section.section_index)">New Measure</button>
            </div>
        </div>

    </span>

        <div class="row" id="new_section">
            <div class="col-xs-12">
                <button type="button" class="btn btn-default" id="new_section_button" ng-click="openNewSectionModal()">
                  New Section
                </button>
            </div>
        </div>
    </div>

<!-- New Section Modal -->
    <script type="text/ng-template" id="newSectionModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Create New Section</h3>
        </div>
        <div class="modal-body">

            <form id="section-create-form" novalidate class="simple-form">
                Number of measures:
                    <input type="number" ng-model="newSection.measure_count">
                Measures per line:
                    <input type="number" ng-model="newSection.measure_width">
                Beats per measure:
                    <input type="number" ng-model="newSection.beat_count">
                Number of verses:
                    <input type="number" ng-model="newSection.verse_count">
            </form>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="ok()">Create section</button>
        </div>
    </script>

<!-- chord edit popover -->
    <script type="text/ng-template" id="chordEdit.html">
        <div class="form-group">
            <input type="text" ng-model="sections[0].section_name" class="form-control">
        </div>
    </script>


</div>

{% endraw %}
{% endblock %}

{% block js %}    
    <script src="
https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.12/js/xeditable.js"></script>
   <script type="text/javascript" src="static/js/chart_angular.js"></script>
   <script type="text/javascript" src="static/js/charteditor.js"></script>
{% endblock %}
